<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="sidebar(activeTab)" class="sidebar">
        
        <a href="/home" class="logo-link"><i class="fa-solid fa-arrow-left"></i> Quay lại LoveStream</a>
        
        <ul class="menu-list">
            <li>
                <a href="/account/favorites" class="menu-item" th:classappend="${activeTab == 'favorites'} ? 'active' : ''">
                    <i class="fa-solid fa-heart"></i> Yêu thích
                </a>
            </li>
            
            <li>
                <a href="/account" class="menu-item" th:classappend="${activeTab == 'overview'} ? 'active' : ''">
                    <i class="fa-solid fa-house"></i> Tổng quan
                </a>
            </li>
            
            <li>
                <a href="/account/membership" class="menu-item" th:classappend="${activeTab == 'membership'} ? 'active' : ''">
                    <i class="fa-regular fa-credit-card"></i> Tư cách thành viên
                </a>
            </li>

            <li>
                <a href="/account/payments" class="menu-item" th:classappend="${activeTab == 'payments'} ? 'active' : ''">
                    <i class="fa-solid fa-receipt"></i> Lịch sử thanh toán
                </a>
            </li>

            <li>
                <a href="/account/security" class="menu-item" th:classappend="${activeTab == 'security'} ? 'active' : ''">
                    <i class="fa-solid fa-shield-halved"></i> Bảo mật
                </a>
            </li>
            <li>
                <a href="/account/devices" class="menu-item" th:classappend="${activeTab == 'devices'} ? 'active' : ''">
                    <i class="fa-solid fa-laptop"></i> Thiết bị
                </a>
            </li>
            <li><a href="/profile" class="menu-item"><i class="fa-solid fa-users"></i> Hồ sơ</a></li>
        </ul>
    </div>

    <script th:src="@{/js/movie-poster-transition.js}" defer></script>

</body>
</html>
